*{
    padding: 0;
    margin: 0;
    font-family: Arial;
}

body{ 
    background: rgb(2,0,36);
    background: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 100%); 
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    max-width: 400px;
    height: 4rem;
    border-radius: 50px;
    margin: 50px auto 0;
    color: white;
    box-shadow: 0px 2.5vw 8.33vw 0px #000000;
}

div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    height: 100vh;
    padding: 5vw;
}

div label{
    font-size: 2vw;
    text-transform: uppercase;
    color: white;
    box-shadow: 0px 2.5vw 8.33vw 0px #000000;
    border-radius: 2.5vw;
    padding: 2.5vw;
}

div input{
    border: 0.33vw solid black;
    width: 10vw;
    height: 5vw;
}

div button{
    width: 20vw;
    height: 10vw;
    border: 0.1vw solid transparent;
    border-radius: 2vw;
    background-color: transparent;
    box-shadow: 0px 1.33vw 1.67vw -0.33vw black;
    transition: box-shadow 0.75s;
    color: white;
    font-size: 2vw;
}

div button:hover{
    box-shadow: 0px 0.67vw 1.67vw -0.33vw black;
}

div p{
    color: white;
    box-shadow: 0px 2.5vw 8.33vw 0px #000000;
    border-radius: 2.5vw;
    font-size: 2vw;
    padding: 2.5vw;
}

div ul{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: normal;
    align-items: normal;
    align-content: normal;
    height: 10vw;
    gap: 2vw;
    width: 70vw;
    color: white;
    box-shadow: 0px 2.5vw 8.33vw 0px #000000;
    padding: 2vw 4vw 2vw 4vw;
    border-radius: 2.5vw;
}

div p#timer{
    position: absolute;
    top: 2.5vw;
    left: 2.5vw;
}
